.App-Container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 700px;
  width: 80%;
  background-color: whitesmoke;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.clear {
  clear: both;
}

.Header {
  color: red;
  font: 70px bold verdana;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 5px;
  text-decoration: underline;
}

.todo {
  display: block;
  text-align: center;
  margin: 5px auto;
  width: 80%;
  font-size: 36px;
  color: blue;
  text-shadow: 2px 2px 2px darkblue;
  padding: 2%;
}

li.todo:hover {
  background-color: white;
  box-shadow: 1px 1px lightgrey;
}